<%= javascript_include_tag("clubs.js","jquery.flexslider-min.js","css3-mediaqueries.js","image-modal.js") %>

<style>
  article, aside, dialog, figure, footer, header,
  hgroup, menu, nav, section { display: block; }
</style>


<div class="menubtn">MENU ▼</div>
<nav id="menu" class="togmenu">
<div id="#"> </div>
<ul>
<li><a href="#">LINX</a></li><li><a href="#">ABOUT</a></li><li><a href="#">NEWS</a></li><li><a href="#">GALLERY</a></li><li><a href="#myModal" id="upload" class="css_btn_class" data-toggle="modal">UPLOAD</a></li><li><a href="#">CONTACT　US</a></li>
</ul>
</nav>
<!--
<div class="flexslider">
  <ul class="slides">
    <li style="width: 857px;">
      <%= image_tag("navi/velours.jpg") %>
    </li >
    <li style="width: 857px;">
      <%= image_tag("navi/zeebra.jpg") %>
    </li>
    <li style="width: 857px;">
      <%= image_tag("navi/zeebra.jpg") %>
    </li>
    <li style="width: 857px;">
      <%= image_tag("navi/zeebra.jpg") %>
    </li>
  </ul>
</div>
-->
<div id="howtouse">
  <%= image_tag("howtouse.png") %>
</div>
<div id="container">



<div id="lanking">
<h1><%= image_tag("ranking.png") %></h1>
<ul id="clublanking">
<% @photolank.each do |photolank| %>
  <li><%= image_tag(photolank.avatar.url(:medium))  %></li>
<% end %>
</ul>
</div>


<div id="main" role="main">
	<ul id="tiles"></ul>
	<div id="loader">
		<div id="loaderCircle">

		</div>
	</div>

</div>

</div>
<!--
<div id="twitter">

<a data-chrome="noheader noborders" width="280" class="twitter-timeline" href="https://twitter.com/search?q=%23clubgal" data-widget-id="326171947245371392"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>-->

<%= render 'modal' %>


<%= javascript_include_tag("underscore-min.js", "clubs.js", "jquery.wookmark.min.js", "jquery.flexslider-min.js", "bootstrap.min.js", "css3-mediaqueries.js", "like.js", "look.js", "photos.js"
)%>
